/* Base */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    margin: 0 auto;
    color: #474747;
}

.wrapper{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}


/* Fonts */

h1{
    font: 700 4.8rem Roboto, sans-serif;
    color: white;
}

h2{
    font: 700 3.6rem "Josefin Sans", sans-serif;
    line-height: 41px;
    margin: 50px 0 0;
}

h3{
    font: 700 2.2rem "Josefin Sans", sans-serif;
    color: #e25254;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0 auto;
}

p{
    font: 400 1.8rem Roboto, sans-serif;
    line-height: 27px;
}

a{
    text-decoration: none;
    font: 400 1.8rem Roboto, sans-serif;
    color: #474747;
    line-height: 27px;
}

.logo{
    font: 400 4.2rem "Josefin Sans", sans-serif;
    color: black;
    margin: 0;
}

.sous{
    margin: 10px 0 10px;
}


/* Header */

header{
    border-top: 4px solid #e25254;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header a:hover{
    color: black;
}


/* Hero */

.hero{
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.hero .wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

.hero p{
    line-height: 28px;
    color: white;
}

.box{
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 600px;
    background-color: rgba(226, 82, 84, 90%);
    padding: 20px;
    justify-content: space-evenly;
}

.hero h1, .hero p{
    padding: 0;
    margin: 0;
}

.hero button{
    align-self: flex-end;
    width: 110px;
    height: 40px;
    background-color: #c0392b;
    border: none;
    padding: 0;
    font: 400 1.8rem Roboto, sans-serif;
    line-height: 28px;
    color: white;
}


/* Produits */

.produits{
    margin: 0 auto;
    padding: 0;
    background-color: #ecf0f1;
}

.produits .wrapper{
    height: 725px;
    display: flex;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
}

.boite{
    display: flex;
    height: 230px;
    width: 375px;
    background-color: white;
    padding: 30px;
    justify-content: flex-start;
}

.boite:hover{
    background-color: #e25254;
    color: white;
}

.boite:hover h3, .boite:hover span{
    color: white;
}


/* Conseils */

.conseils{
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/conseil.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.conseils .wrapper{
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 25px;
}

.conseils .sous, .conseils h2{
    color: white;
}

.conseils article{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.conseils article p{
    color: black;
}

.conseils h3{
    margin: 8px 0 0;
}

.conseils aside{
    height: 335px;
    width: 375px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 37px;
}

.conseils .wrapper div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

.conseils div a{
    align-self: flex-end;
    color: black;
    margin-top: 20px;
}

.conseils .material-icons{
    font-size: 3rem;
}


/* Footer */

footer{
    margin: 0 auto;
    padding: 0;
    background-color: #e25254;
}

footer .wrapper{
    height: 60px;
    display: flex;
    color: white;
    justify-content: space-between;
}


/* Modale */

.modale {
    display: none;
    justify-content: center;
    align-items: center;
 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
 
    z-index: 2;
    background-color: rgba(0, 0, 0, 70%);
}
 
.modale.visible {
    display: flex;
}

.modale p{
    font: 700 50rem Roboto, sans-serif;
    color: #c0392b;
}