/* Base */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    margin: 0 auto;
    color: #474747;
}

.wrapper{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}


/* Fonts */

h1{
    font: 700 4.8rem Roboto, sans-serif;
    color: white;
}

h2{
    font: 700 3.6rem "Josefin Sans", sans-serif;
    line-height: 41px;
}

h3{
    font: 700 2.2rem "Josefin Sans", sans-serif;
    color: #e25254;
    line-height: 25px;
}

p{
    font: 400 1.8rem Roboto, sans-serif;
    line-height: 27px;
}

a{
    text-decoration: none;
    font: 400 1.8rem Roboto, sans-serif;
    color: #474747;
    line-height: 27px;
}

.logo{
    font: 400 4.2rem "Josefin Sans", sans-serif;
    color: black;
    margin: 0;
}


/* Header */

header{
    border-top: 4px solid #e25254;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header a:hover{
    color: black;
}


/* Hero */

.hero{
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.hero .wrapper{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

.hero p{
    line-height: 28px;
    color: white;
}

.box{
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 600px;
    background-color: rgba(226, 82, 84, 90%);
    padding: 20px;
    justify-content: space-evenly;
}

.hero h1, .hero p{
    padding: 0;
    margin: 0;
}

.hero button{
    align-self: flex-end;
    width: 110px;
    height: 40px;
    background-color: #c0392b;
    border: none;
    padding: 0;
    font: 400 1.8rem Roboto, sans-serif;
    line-height: 28px;
    color: white;
}


/* Produits */